body{background-color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

h1{background-color: black;
color: white;
border: 5px;
border-color: white;
border-radius: 10px;
text-align: center;}

h3{background-color: black;
    color: white;
    border: 5px;
    border-color: white;
    border-radius: 10px;
    text-align: center;}

#com {
    background-color: black;
    color: white;
    border: 5px solid;
    border-radius: 5px;
    padding: 20px;

}

#prof {
    background-color: black;
    color: white;
    border: 5px solid;
    border-radius: 5px;
    padding: 20px;
}

#img {
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}

#rodape {
    background-color: rgb(84, 133, 37);
    color: white;
    border: 5px solid;
    border-radius: 5px;
    padding: 20px;
}